# sha256: nwLQNXGE3h8JPBABK1LnRUoQCL5qXBhat6Mwes6x0S4
Babel==1.3

# sha256: HbXa_k_oMC80RJKDhkuqdNDWQBNhOqIAkYGHv3aQLV8
# sha256: uTV9LOvmGZcFXUF9YH-cZQ6BfNGjg7mhuIvx7a15fHU
Django==1.7.10

# sha256: LfpotUw1JurEJ_8T2xyrR7nvlpikOp82jIfI8SOIS3g
django-ace==1.0.2

# sha256: exG-pKcNZGrYoMwccYc6cFokR5XPwvfUL3klisHFSZk
django-bmemcached==0.2.2

# sha256: OV37hPc_reMsCh_JRr2dSkmP_zxQWpEbJsuY3vF4cDs
# sha256: U2oNq2KzDFQWWxkblbx6hL5b-QH3tD-fv1ZVrS_PSp4
django-braces==1.4.0

# sha256: EXGi39Bz0MuXOkgtic_AweW52n1VHcCgAkEoZ-z1KT4
django-browserid==0.11.1

# sha256: 0yV2uq13_dnmhZvpfCtqPBem9IQ2Q4nbcx8Gl7ehlmE
django-csp==2.0.3

# sha256: 8uJz7TSsu1YJYtXPEpF5NtjfAil98JvTCJuFRtRYQTg
# sha256: ygF2j97N4TQwHzFwdDIm9g7f9cOTXxJDc3jr2RFQY1M
dj-database-url==0.3.0

# sha256: pW8UU2y7fX5GbSmQsXL2gaBdfpRNAoEazBHazqu8yzw
# sha256: GnvU61NePCzyYdlVhUvc9L8HyOpXWSgBJz0BMujbAEc
django-filter==0.9.1

# sha256: NmfSakH-wwNkoO9yWAgyylMogC1VP21ucq9awhyzY2U
django-nose==1.3

# sha256: sGqGRRqZ1sJr-mUIKZnb9ljgh-WW6SkszmiLU-q6qto
django-sha2==0.4

# sha256: 9r_SEEjH38lbOWWaPad3ddbbHB96dFgFzMbGE494O20
django-sslify==0.2.7

# sha256: G-VKDAhWZhNTQRlZRnkQnibuG3Pj4uQCBoL8WxWNc5M
# sha256: JeEXgXLGQWwA4JSzsaNo0-Fv58a-A2gHSqyZlAGKg6k
djangorestframework==2.3.10

# sha256: x9txeBCraWX2bIzwOYqYydjfmC2jm0zX8WKRHriVlvo
docutils==0.12

# sha256: 1wEkmeUt5aRBPiKu1R34lIUzaFRS3-FrQQAfKPnOWxw
factory-boy==2.4.1

# sha256: akF58qKszaKyc7_Ybeb3AkzuIDBDzJp8BA_nswa74SA
fancy-tag==0.2.0

# sha256: yZzJcW1mVdnIvLHndjK4YVvwq9KC16vZ9cIUjK1_xmk
# sha256: XuGkPM0HFtYGFSHuxpN8mD76AneTAT5XJxLE2lXHyD4
flake8==2.3.0

# sha256: A3VLx7JWOXwbZG5QSOIpFZD1CAFxrbiwD04tc4THbu4
GitPython==0.1.7

# sha256: w4h_fih112ZhB_qL7nYf-VuTkazcx80bX9V6I7X7xJ4
html5lib==0.999

# sha256: DUoz845megyA7BpaDkaP5Y5c3GHLj0B3sQJLhf57cRc
ipdb==0.8

# sha256: q409VanEtW-Xy2D21rk92UlUwWEU8K6HLCR6zoI_Fds
# sha256: jy0vup7228b_a2mm76_Yg1voKHm4rnmkM2HH1k42Pew
# sha256: PphGaqL-VFQLy6mqbgGjn0ARDWdmjClzQMS5UUt8xJw
# sha256: MmP8nqIHC-HP-ERXhtbzGLdnaMAGg4n7OFOw0us_THI
ipython==2.3.1

# sha256: xJWo39CpwdPY7QISG7sotsnTTU2jCqk6fmOcDz17Bjk
jingo==0.7.1

# sha256: LiSsXQBNtXFJdqBKwOgMbfbkfpjDVMssDYL4h51Pj9s
Jinja2==2.7.3

# sha256: 3zu65Xjyl2dXG1zmekcC_hTtZxC5e6tZJRpRE7a-w6M
# sha256: 7hfQ19wJHmRd1IMCouITAcxo8YhQXCBp2GNflFVBcL8
# sha256: MP83v2QkXF_kxvu2ln76zQO--au9D8HePIiNJqnbyFs
Markdown==2.6.2

# sha256: pOwa_1m5WhS0XrLiN2GgF56YMZ2lp-t2tW6ozce4ccM
MarkupSafe==0.23

# sha256: uDndLZwRfHAUMMFJlWkYpCOphjtIsJyQ4wpgE-fS9E8
mock==1.0.1

# sha256: hbroOd-up9i4YNH1v-t46GEswfnxSzYFm-IEO0HjcAs
newrelic==2.54.0.41

# sha256: eLAxFrrdDbsu1N7clqSj1CE4uUu4n8Lrmffzvf0Zn1Y
# sha256: zIrr3sWl-5iZEvFX93s8IaXi8tpiOvkKe0drEGqDSr8
# sha256: drxjpOLV5aDfd8p9GPD1bixGz7YrcRA7qSqSx5-rHgM
nose==1.3.4

# Adding peep so we can track it on requires.io. For packages
# installation we use peep.py shipped in ./bin
# sha256: 4bmcawK_tCp_yJB624zuXkZLRPiAM1kSArLlYFTjZQU
peep==2.4

# sha256: QW014kelmSc9QP0Bp8pIJmbr2UZ7lYUsqUpV3bzxDuA
# sha256: 49SRYStWkFJZgEtdIpJhJr7ZoMKoMXSFgrhQUAkgs3A
# sha256: lZZFTHQINrALhLsuwySDga96cQXWoY_i6BO9GwW6MbE
peepin==0.7

# sha256: as-au751fvddwuzZ2RunSVR5Qauv--af8ghqnjfUkEw
psycopg2==2.6.1

# sha256: XgOeHUDSMpge1YkUttGsLkU6foPd6iLvnz7q3QHeRcs
# sha256: ZoyOZluTX2I4WcEyE-G8mzP9Gf7sTbfC-OhVwcjFWdc
# sha256: fydQ9H4cA_ffSGbTdhm4B0_8HTIYI7taNRMC_k3SC2c
Pygments==2.0.1

# sha256: rxL5lFTolenkMMdXI8O5QZwLzNDqd4A2YtaprFb2Qls
py-bcrypt==0.3

# sha256: qh6u2dUdsb-oWFprQwghjpHQ8Q_mPAQvMZdcBjmink4
python-binary-memcached==0.24.3

# sha256: ufv3R_qOcR0zDy9Da5suz17tnrZ6Y3yoGrzRHCq-3sg
python-decouple==2.3

# sha256: vPcTcdmXu0ajFop7Y6rma1bMyswCWvkxDbQxVoHviGg
python-memcached==1.53

# sha256: rr0jA98C2UjtrsDki1S1Jwpw1pj889A96uX6imX4NT0
python-postmark==0.4.7

# sha256: DJMq9feHqTyMvpNbZgequ5JcxijWsldRgTNES0FRpgA
# sha256: hLcOgcH8zdVDirgjgIguLtEarEjtZdRIL60feZC6Q1I
# sha256: e0ZyF7n0tLNXjqgMGH1KZFhBN-s5pP0J06k5uyWiRzE
# sha256: _iM9iNuVAbn4doWmVuCAQioE3fsR8AInX4KYbXFwSfg
# sha256: VDjXSekjyRR0H-KkELUoq-JwUwAPv4eLxDdCjQiuCrE
# sha256: murD-YhlyCltxRNxMdRH4v7_DSytAlhIj1dm_aE3TQ8
# sha256: plnqNp9L4hoxtIrrZ-xi92JwzFP0CPNXiIO_9BoCGWY
# sha256: K7Ah5rGyKc2zSLN-1NBkPBEVrEOdaC_KF0p4WItYoEI
# sha256: muSNOY60kfi7ERHlNT-an22BHjjCpp1Zujj5e1TZC0w
# sha256: OH-Wj955OxQoZYApFlYYOfVZHYtLFMlBEl6w_Kfk5Y0
# sha256: qUE4tjiQdJH0c8h16MlSA6agLv71K2VivjAuQ1AW9PM
# sha256: TH1S2kEIdel3YFwZTJP7KaLZIfmSNLUBM8Zip9Qmj9Y
pytz==2014.10

# sha256: HwRtz17HEu076GhLnzPJW3bijNHIJdsPXhVXv9h7N0U
# sha256: e3c179Ox4jI9yfzvBgs4DQX18YvQ8kf16edKYoJ53mY
requests==2.5.1

# sha256: QYqTw5en7asj5ViNvAZ6x0pyPts9VBvUk295R252Rdo
# sha256: 4kBSQR_E-9H2cmNVN8P8IzDZSBsYwDF2lbRiWVEskdU
six==1.9.0

# sha256: 0UXkOs2Dxbos77J2EH6Wb-YzXbAmWnoLSxCirbhM0m0
# sha256: uwkN7xH7pRFnpYjYyklp9Jo8Q3rYrPlg39OcSwzxYAk
# sha256: lJM7ZOL-CAfaBhLFdKAhwNrCjHvTxKI3I65aOeqPPQQ
Sphinx==1.2.3

# sha256: PYBK7mdyHzjoQO-jo65SiYMo5kcJJZNB8qiQHVvwHNQ
# sha256: Dyn1RPbQN5ifoMdymp6rfk2OpQ1vDvNzY_RydWwe3KY
sphinx-rtd-theme==0.1.6
# sha256: 9gl24LXtjMs_y-WRWCssnN7AGAg3YvXUk7q9GG29W4U
# sha256: Klo6r_GcU0ANRc7QHOvPE6VIJW2l3NGcGF5ZdG7f7Q0
sphinx-autobuild==0.4.0

# sha256: dafTE4z6nNgadgwvikPz2Alh7cjk8nBD3BQSIGySYoc
uwsgi==2.0.11.1

# sha256: Pk2AGZlglZuCiVGqJMv6o2zr7RSdzXKMEehVeYsV-HA
# sha256: 2slBnbPs4nu1PHQzJD_CLtQs9o3p1sQSk5Dh2a7-YxA
whitenoise==1.0.6

# Requirements tied to specific commits

# bleach
# sha256: ZSZiwhMQgfaHTTuNJA1bLSjZTu4lsLH0hLSl4nT3xF4
https://github.com/jsocol/bleach/archive/4e425f767bbf4cc96beafbcb5536aa93cc15a680.zip#egg=bleach

# commonware
# sha256: o2HP2_WwSljbspF8fp7FRyWPZqltTE5THiIoh7GFuxE
https://github.com/jsocol/commonware/archive/b5544185b2d24adc1eb512735990752400ce9cbd.zip#egg=commonware

# django-multidb-router
# sha256: chnrGa1bo7O6z0ZexwrpRd_HdMsTOALQoGH9nlB9dX4
https://github.com/jbalogh/django-multidb-router/archive/f6ff9379eef9dceffbb7bfdf0cb6aa4eef7549a1.zip#egg=django-multidb-router

# django-mozilla-product-details
# sha256: CjPtzXJMot4J4bM5LQRovBDDJbtEKG68S07AhCek_DY
https://github.com/mozilla/django-mozilla-product-details/archive/d168ab2e689a1b54a30a923386fe7948a74ff334.zip#egg=django-mozilla-product-details

# django-session-csrf
# sha256: vsCdiBnI0dPE-Z_55Mb4faMhyrJsYNMdbCvAlYdwGY8
https://github.com/mozilla/django-session-csrf/archive/f00ad913c62e139d36078e8a7e07dab65a021386.zip#egg=django-session-csrf

# jingo-minify
# sha256: 1rhJV1lByVPZ-yeMIc8aLkpmilR1XeBa0DUAiHGrt1c
https://github.com/jsocol/jingo-minify/archive/2beb546949ed2cb4eb866bab6dd643047d803a95.zip#egg=jingo-minify

# test-utils
# sha256: ih29HHrehSBq53DJzl9DCBoJjJX5lK8RP2Q06QBVmmc
https://github.com/jbalogh/test-utils/archive/e42e031d31ea63d593e47d564545149a0f30b95f.zip#egg=test-utils

# tower
# sha256: YGxwkMz10Xa-hQf4ePwx4s2rJcoL70yhD6M4TOEZgjE
https://github.com/clouserw/tower/archive/1df74f9c7c353b9fc76d28a50f511ad452093340.zip#egg=tower
