{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. #}

{% from 'tasks/macros.html' import activity_filter_field %}

<div class="activity-filters">
  <form method="get">
    <fieldset>
      <legend class="visually-hidden">{{ _('Select filters below to filter tasks.') }}</legend>
        {% for field in filter.form.visible_fields() %}
          {{ activity_filter_field(field) }}
        {% endfor %}
    </fieldset>
    <div class="actions-container filter-button">
      <div class="without-message">
        <button type="submit" class="button">{{ _('Filter tasks') }}</button>
      </div>
    </div>
  </form>
</div>
