{% from 'tasks/macros.html' import table_headers %}

<table class="table activity-listing">
  <thead>
    <tr>
      <th class="toggle"></th>
      {% include 'tasks/sortable_table_headers.html' %}
    </tr>
  </thead>
  <tbody>

    {% for attempt in attempts %}
      <tr class="activity-item">
        <td class="toggle"></td>
        <td class="task-name"><a href="{{ attempt.task.get_absolute_url() }}">{{ attempt.task.name }}</a></td>
        <td>{{ attempt.user }}</td>
        <td>{{ attempt.get_state_display() }}</td>
        <td>{{ attempt.attempt_length_in_minutes }}m</td>
      </tr>
      <tr class="activty-detail">
        <td></td>
        <td colspan="4" class="task-info">
          <div>{{ _("Owner: {owner}")|fe(owner=attempt.task.owner) }}</div>
          <div>{{ _("Team: {team}")|fe(team=attempt.task.team.name) }}</div>
          <div>{{ _('Date {state}: {modified}')|fe(state=attempt.get_state_display(),
            modified=attempt.modified.strftime('%Y-%m-%d: %I:%M:%S %p').lower()) }}</div>
          {% if attempt.time_spent_in_minutes %}
            <div>
              {{ _("Time spent in minutes: {time}")|fe(time=attempt.time_spent_in_minutes) }}m
            </div>
          {% endif %}
          <div class="feedback{% if not attempt.has_feedback %} no-feedback{% endif %}">
            {{ attempt.feedback_display }}
          </div>
        </td>
      </tr>
    {% else %}
      <tr><td colspan="4">{{ _('Sorry no results found, try another search.') }}</td></tr>
    {% endfor %}
  </tbody>
</table>
{% import 'base/pagination.html' as pagination %}
{{ pagination.arrows(request, page_obj, paginator, is_paginated) }}
