{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. #}
{% extends 'base/base.html' %}

{% from 'tasks/macros.html' import task_area_tree %}

{% block content %}
  <h1>{{ _('Tasks') }}</h1>

  <form class="task-filters" method="get">
    {{ filter.form.as_p() }}
    <button type="submit">{{ _('Filter tasks') }}</button>
  </form>

  <ol class="task-list">
    {% for task in available_tasks %}
      <li>
        <div>{{ task_area_tree(task.area) }}</div>
        <div><a href="{{ task.get_absolute_url() }}">{{ task.name }} {{ task.id }}</a></div>
        <div>{{ task.short_description }}</div>
      </li>
    {% endfor %}
  </ol>

  {% if is_paginated %}
    <div class="pagination">
      <a href="{{ page_url(request, paginator.page_range[0]) }}">|&lt;&lt;</a>

      {% if page_obj.has_previous() %}
        <a href="{{ page_url(request, page_obj.previous_page_number()) }}">|&lt;</a>
      {% endif %}

      <span>
        {% trans current_page=page_obj.number, total_pages=paginator.num_pages %}
          {{ current_page }} of {{ total_pages }}
        {% endtrans %}
      </span>

      {% if page_obj.has_next() %}
        <a href="{{ page_url(request, page_obj.next_page_number()) }}">&gt;|</a>
      {% endif %}

      <a href="{{ page_url(request, paginator.page_range[-1]) }}">&gt;&gt;|</a>
    </div>
  {% endif %}
{% endblock %}
