{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. #}
{% extends 'tasks/base_feedback.html' %}

{% block feedback_message %}
  <h4>{{ _('Thank you!') }}</h4>
  <p>
    {% trans %}
      Thank you for contributing to Mozilla QA! Your time and effort are highly
      appreciated. We'd love to hear from you. Tell us about your experience
      here.
    {% endtrans %}
  </p>
{% endblock %}
