{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. #}
{% extends 'base/base.html' %}

{% block content %}
  <h1>{{ task.name }}</h1>
  <div>{{ task.instructions }}</div>
  <div>
    {% trans execution_time=task.execution_time %}
      Estimated time needed for completion: {{ execution_time }} minutes
    {% endtrans %}
  </div>

  {% if not attempt %}
    <form method="post" action="{{ url('tasks.start', task.id) }}">
      {{ csrf() }}
      <button type="submit">{{ _('Get Started') }}</button>
    </form>
  {% else %}
    <a href="{{ url('users.profile.detail') }}">{{ _('Pause') }}</a>
    <small>
      {{ _('Don\'t have time to finish this task right now? Come back later and finish it.') }}
    </small>

    <form method="post" action="{{ url('tasks.finish', task.id) }}">
      {{ csrf() }}
      <button type="submit">{{ _('I\'m done') }}</button>
    </form>
  {% endif %}
{% endblock %}
