{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. #}
{% extends 'base/base.html' %}

{% set title = task.name %}

{% block content %}
<main class="billboard content-container">
  <h1>{{ task.name }}</h1>
  <div class="markdown">{{ task.instructions_html }}</div>
  <p>
    {% trans execution_time=task.execution_time %}
      Estimated time needed for completion: {{ execution_time }} minutes
    {% endtrans %}
  </p>

  <div class="actions-container">
    {% if attempt %}
      <div class="with-message">
        <a href="{{ url('users.profile.detail') }}" class="button" role="button">{{ _('Save for later') }}</a>
        <small>
          {{ _('Don\'t have time to finish this task right now? Come back later and finish it.') }}
        </small>
      </div>

      <form method="post" action="{{ url('tasks.abandon', attempt.id) }}">
        {{ csrf() }}
        <button type="submit" class="button light-blue">{{ _('Abandon task') }}</button>
      </form>

      <form method="post" action="{{ url('tasks.finish', attempt.id) }}">
        {{ csrf() }}
        <button type="submit" class="button">{{ _('Complete task') }}</button>
      </form>
    {% else %}
      {% if not user.is_authenticated() %}
        <a href="{{ url('users.login')|urlparams(next=request.path) }}" class="button">{{ _('Get Started') }}</a>
      {% elif user.attempts_in_progress.exists() %}
        <div class="with-message">
          <button class="button insensitive" disabled="disabled">{{ _('Get Started') }}</button>
          <small>
            {{ _('There is an outstanding task. You need to complete / abandon it in order to start on a new task.') }}
          </small>
        </div>
      {% else %}
        <form method="post" action="{{ url('tasks.start', task.id) }}">
          {{ csrf() }}
          <button type="submit" class="button">{{ _('Get Started') }}</button>
        </form>
      {% endif %}
    {% endif %}
  </div>
</main>
{% endblock %}
