{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. #}
{% extends 'base/base.html' %}

{% set title = task.name %}

{% block content %}
<main class="billboard content-container task-detail">
  <h1>{{ task.name|buglinkify }}</h1>
  {% if task.imported_item %}
    <div class="row">
      <div>
        {{ _('Summary of Bug') }} {{ task.imported_item.bugzilla_id }}:
        <span class="bug-summary">{{ task.imported_item.summary }}</span>
      </div>
    </div>
  {% endif %}
  <div class="row">
    <div>{{ task.short_description }}</div>
  </div>
  {% if user.is_staff %}
    <div class="row"><div>{{ _('Owner') }}: {{ task.owner }}</div>
  {% endif %}
  <div class="row">
    <div class="three-fields">
      {{ _('Team') }}:
      <a href="{{ url('tasks.available')|urlparams(team=task.team.pk) }}">
        {{ task.team.name }}
      </a>
    </div>
    <div class="three-fields">
      {% if task.project.name %}
        {{ _('Project') }}:
        <a href="{{ url('tasks.available')|urlparams(project=task.project.pk) }}">{{ task.project.name }}</a>
      {% endif %}
    </div>
    <div class="three-fields">
      {% if task.type.name %}
        {{ _('Type') }}:
        <a href="{{ url('tasks.available')|urlparams(type=task.type.pk) }}">{{ task.type.name }}</a>
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="three-fields">
      {% trans execution_time=task.execution_time %}
        Estimated time: {{ execution_time }} minutes
      {% endtrans %}
    </div>
    <div class="two-of-three-fields">
      {% if task.keyword_set.exists() %}
        {{ _('Tags:') }}
        {% for keyword in task.keyword_set.all() %}
          <a href="{{ url('tasks.available')|urlparams(keyword=keyword.name) }}">{{ keyword.name }}</a>{% if keyword != task.keyword_set.all()|last %}, {% endif %}
        {% endfor %}
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="three-fields">
      {% if task.start_date %}
        {{ _('Start date') }}: {{ task.start_date.strftime('%Y-%m-%d') }}
      {% elif task.end_date %}
        {{ _('Expiration date') }}: {{ task.end_date.strftime('%Y-%m-%d') }}
      {% endif %}
    </div>
    <div class="two-of-three-fields">
      {% if task.start_date and task.end_date %}
        {{ _('Expiration date') }}: {{ task.end_date.strftime('%Y-%m-%d') }}
      {% endif %}
    </div>
  </div>
  {% if task.why_this_matters %}
    <div class="row">
      <div>
        <h2>{{ _('Why this matters') }}</h2>
        <div class="markdown">{{ task.why_this_matters_html }}</div>
      </div>
    </div>
  {% endif %}
  {% if task.prerequisites %}
    <div class="row">
      <div>
        <h2>{{ _('Prerequisites') }}</h2>
        <div class="markdown">{{ task.prerequisites_html }}</div>
      </div>
    </div>
  {% endif %}
  <div class="row">
    <div>
      <h2>{{ _('Steps') }}</h2>
      <div class="markdown">{{ task.instructions_html }}</div>
    </div>
  </div>
  {% if users %}
    <div class ="row">
      <div>
        <h2>{{_('List of users who completed this task') }}</h2>
        {% for each_user in users %}
          <a href="{{ each_user.profile.profile_url }}">{{ each_user.profile.name }}</a>{% if not loop.last %},{% endif %}         
        {% endfor %}
      </div>
    </div>
  {% endif %}
  <div class="actions-container">
    {% if user.is_staff %}
      <div class="without-message">
          <a href="{{ task.get_edit_url() }}">
            <button class="button" id="edit-task">{{ _('Edit task') }}</button>
          </a>
          <a href="{{ task.get_clone_url() }}">
            <button class="button" id="clone-task">{{ _('Clone task') }}</button>
          </a>
      </div>
    {% endif %}
    {% if task.first_previous_task %}
      <div class="without-message">
        <a href="{{ task.first_previous_task.get_absolute_url() }}"
           title="{{ _('The task to complete before this task is: {task_name}')|fe(task_name=task.first_previous_task.name) }}">
          <button class="button" id="previous-task">{{ _('Previous task') }}</button>
        </a>
      </div>
    {% endif %}
    {% if attempt %}
      <div class="with-message">
        <a href="{{ url('base.home') }}" class="button" id="save-for-later" role="button">{{ _('Save for later') }}</a>
        <small>
          {{ _('Don\'t have time to finish this task right now? Come back later and finish it.') }}
        </small>
      </div>

      <form method="post" action="{{ url('tasks.abandon', attempt.id) }}">
        {{ csrf() }}
        <button type="submit" title="{{ _('Abandon this task') }}" class="button" id="abandon-task">{{ _('Abandon task') }}</button>
      </form>

      <form method="post" action="{{ url('tasks.finish', attempt.id) }}">
        {{ csrf() }}
        <button type="submit" title="{{ _('Complete this task') }}" class="button" id="complete-task">{{ _('Complete task') }}</button>
      </form>
    {% else %}
      {% if task.is_available %}
        {% if not user.is_authenticated() %}
          <a href="{{ url('users.login')|urlparams(next=request.path) }}"
             class="button{% if gs_button_disabled %} insensitive" disabled="disabled{% endif %}"
             id="get-started">{{ gs_button_label }}</a>
        {% elif user.attempts_in_progress.exists() %}
          <div class="with-message">
            <button class="button insensitive" disabled="disabled" id="get-started">{{ gs_button_label }}</button>
            <small>
              {{ _('There is an outstanding task. You need to complete / abandon it in order to start on a new task.') }}
            </small>
          </div>
        {% else %}
          <form method="post" action="{{ url('tasks.start', task.id) }}">
            {{ csrf() }}
            <button type="submit"
                    class="button{% if gs_button_disabled %} insensitive" disabled="disabled{% endif %}"
                    id="get-started">{{ gs_button_label }}</button>
          </form>
        {% endif %}
      {% endif %}
    {% endif %}
    {% if task.next_task %}
      <div class="without-message">
        <a href="{{ task.get_next_task_url() }}"
           title="{{ _('The next task to complete after this task is: {task_name}')|fe(task_name=task.next_task.name) }}">
          <button class="button" id="next-task">{{ _('Next task') }}</button>
        </a>
      </div>
    {% endif %}
  </div>
</main>
{% endblock %}
