{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. #}
{% extends 'base/base.html' %}

{% set title = task.name %}

{% block content %}
  <h1>{{ task.name }}</h1>
  <h2>{{ _('Thank you!') }}</h2>
  <p>
    {% trans %}
      Thank you for contributing to Mozilla QA! Your time and effort are highly
      appreciated. We'd love to hear from you. Tell us about your experience
      here.
    {% endtrans %}
  </p>
  <p>
    {% trans %}
      We'd love to know what we're doing right, what to keep doing, and what to
      start doing.
    {% endtrans %}
  </p>
  <form method="post">
    {{ csrf() }}
    {{ form.as_p() }}
    <button type="submit">{{ _('Submit feedback') }}</button>
  </form>
  <a href="{{ url('users.profile.detail') }}">{{ _('No, thanks.') }}</a>
{% endblock %}
