{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. #}
{% extends 'base/base.html' %}

{% set title = _('Tasks') %}

{% block content %}
<main class="billboard content-container">
  <h1>{{ _('Tasks') }}</h1>

  {% include 'tasks/task_list_filters.html' %}
  {% include 'tasks/task_listing.html' %}

  {% if user.is_staff %}
    <nav class="actions-container">
      <a href="{{ url('tasks.create') }}" class="button">{{ _('Create task') }}</a>
    </nav>
  {% endif %}

</main>
{% endblock %}
