{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. #}
  <div class="task-filters">
    <form class="filters" method="get">
      <fieldset>
        <legend class="visually-hidden">{{ _('Select filters below to filter tasks.') }}</legend>
        <p>
          {{ filter.form['difficulty'].label_tag() }}
          {{ filter.form['difficulty'] }}
        </p>
        <p>
          {{ filter.form['execution_time'].label_tag() }}
          {{ filter.form['execution_time'] }}
        </p>
      </fieldset>
      <button type="submit" class="button">{{ _('Filter tasks') }}</button>
    </form>
  </div>
