<table class="table metrics-listing dataTable display">
  <thead>
    <tr class="title">
      <th>{{ _('Task') }}</th>
      <th>{{ _('Owner') }}</th>
      <th title="{{ _('Number of times the task was marked complete in under 2 minutes') }}">
        {{ _('Times Completed in Under 2 Min') }}
      </th>
    </tr>
  </thead>
  <tbody>
    {% for task in metrics %}
      <tr class="activity-item">
        <td class="task-name title"><a href="{{ task.task.get_absolute_url() }}">{{ task.task.name }}</a></td>
        <td class="title">{{ task.task.owner }}</td>
        <td>{{ task.too_short_completed_attempts_count }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
