{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. #}
{% extends 'base/base.html' %}

{% set title = _("What's next?") %}

{% block content %}
<main class="billboard content-container task-detail">
  <h1>{{ _("Great work! What's next?") }}</h1>
  <p>
    {% trans task_name=task.name %}
      Now that you are done with the {{ task_name }} task, what would you like to do next?
    {% endtrans %}
  </p>
  <ul>
    {% if task.next_task %}
      <li>
        <a href="{{ task.get_next_task_url() }}"
           title="{{ _('The next task to complete after this task is: {task_name}')|fe(task_name=task.next_task.name) }}">
          {{ _('Check out the next task in the sequence.') }}
        </a>
      </li>
    {% endif %}
    <li>
      <a href="{{ url('tasks.available') }}">
        {{ _('Search for another task.') }}
      </a>
    </li>
    {% if task.is_available_to_user(user) %}
      <li>
        <a href="{{ task.get_absolute_url() }}">
          {{ _('Do it again.') }}
        </a>
      </li>
    {% endif %}
  </ul>
</main>
{% endblock %}
