{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. #}
{% extends 'base/base.html' %}

{% set title = _('Page not found') %}

{% block content %}
  <main class="billboard content-container">
    <h1>{{ _('Sorry, we couldn\'t find the page you wanted.') }}</h1>
    <p>
      {% trans home_url=url('base.home') %}
        <a href="{{ home_url }}">Return to the homepage</a>.
      {% endtrans %}
    </p>
  </main>
{% endblock %}
