{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. #}
{% extends 'base/base.html' %}

{% set title = _('Something went wrong') %}

{% block content %}
  <main class="billboard content-container">
    <h1>{{ _('Sorry, but something went wrong.') }}</h1>
    <p>
      {% trans %}
        There's been an error with our server. Please try again later.
      {% endtrans %}
    </p>
  </main>
{% endblock %}
