<section class="billboard content-container">
  <h3>
    {% if request.path == url('users.profile.details')  %}
      {% trans %}Dashboard{% endtrans %}
    {% else %}
      {{ _("{name}'s Dashboard")|fe(name=user.profile.name) }}
    {% endif %}
  </h3>


  <section class="task-status">
    {% if user.attempts_in_progress %}
      <h4>{{ _('Tasks in progress') }}</h4>
      <ul>
        {% for attempt in user.attempts_in_progress %}
          <li><a id="task-in-progress" href="{{ attempt.task.get_absolute_url() }}">{{ attempt.task.name }}</a></li>
        {% endfor %}
      </ul>
    {% else %}
      {{ _('No tasks in progress.') }}
    {% endif %}

  </section>

  <nav class="actions-container">
    {% if not user.attempts_in_progress %}
      <a href="{{ url('tasks.available') }}" class="button" id="pick-a-task">{{ _('Pick a task to do') }}</a>
    {% endif %}
  </nav>
</section>
