{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. #}
{% extends 'base/base.html' %}

{% block body_class %}{{ super() }} home{% endblock %}

{% block content %}
  <section class="home-header">
    <h4>{{ _('Contribute to Mozilla QA - One task at a time, One day at a time.') }}</h4>
    <p>
      {% trans ao_href = 'https://oneanddone.mozilla.org/en-US/?search=&project=7',
         os_href = 'https://oneanddone.mozilla.org/en-US/?search=&team=4', 
         ds_href = 'https://oneanddone.mozilla.org/en-US/?search=&team=2',
         ni_href = 'https://oneanddone.mozilla.org/en-US/?search=nightly&team=2',
         au_href = 'https://oneanddone.mozilla.org/en-US/?search=aurora&team=2',
         be_href = 'https://oneanddone.mozilla.org/en-US/?search=beta&team=2',
         mw_href = 'https://oneanddone.mozilla.org/en-US/?search=&team=6',
         se_href = 'https://oneanddone.mozilla.org/en-US/?search=&team=7',
         th_href = 'https://oneanddone.mozilla.org/en-US/?search=&team=8' %}
           One and Done gives users a wide variety of ways to contribute to Mozilla.
           You can pick an easy task that only takes a few minutes &#45; or take on a bigger
           challenge. This includes working on manual testing, automation, bug verification,
           mobile testing and more. Tasks are from all QA teams &#45; so you can get involved
           with <a href= "{{ ao_href }}"> Automation</a>, <a href="{{ os_href }}"> Firefox OS</a>,
           <a href="{{ ds_href }}">  Desktop Firefox </a> (<a href= "{{ ni_href}}"> Nightly</a>,
           <a href= "{{ au_href }}"> Aurora</a>, and <a href= "{{ be_href }}"> Beta</a> ) ,
           <a href= "{{ mw_href }}"> Mozilla websites</a>, <a href= "{{ se_href }}">Services</a>, 
           or <a href= "{{ th_href }}">Thunderbird</a>.
      {% endtrans %}
   </p>
  <p>
    {% trans leader_href=url('tasks.leaderboard') %}
      Check out our <a href="{{ leader_href }}">Top Contributors</a>.
    {% endtrans %}
  </p>
    <p class="auth-menu">
      {% if not user.is_authenticated() %}
        {{ browserid_login(text=_('Sign in with Mozilla Persona'), color='blue') }}
      {% endif %}
    </p>
  </section>

  <main class="main">
    {% if user.is_authenticated() %}
      <div class="billboard">
        {% include 'base/dashboard.html' %}
      </div>
      {% include 'tasks/task_list_filters.html' %}
    {% endif %}
    {% include 'tasks/task_listing.html' %}
  </main>

  {% endblock %}
