{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. #}
{% extends 'base/base.html' %}

{% block body_class %}{{ super() }} home{% endblock %}

{% block content %}
  <section class="home-header">
    <h4>{{ _('Contribute to Mozilla QA - One task at a time, One day at a time.') }}</h4>
    <p>
      {% trans %}
      One and Done gives users a wide variety of ways to contribute to Mozilla. You can pick an easy task that only takes a few minutes &#45; or take on a bigger challenge. This includes working on manual testing, automation, bug verification, mobile testing and more. Tasks are from all QA teams &#45; so you can get involved with Automation, Firefox OS, Desktop Firefox, Mozilla websites, Services, or Thunderbird.
      {% endtrans %}
    </p>
    <p class="auth-menu">
      {% if not user.is_authenticated() %}
        {{ browserid_login(text=_('Sign in with Mozilla Persona'), color='blue') }}
      {% endif %}
    </p>
  </section>

  <main class="main">

    {% if user.is_authenticated() %}
      {% include 'base/dashboard.html' %}
    {% endif %}

    <section class="get-involved">
        <h3>{{ _('Get Involved') }}</h3>
        <p>
          {% trans %}
            Mozilla QA sees the "One and Done" initiative as a way for Mozilla community contributors to get introduced to various projects and then to become involved in an area of their interest. Contributors would be able to find their voice in the community, be able to engage meaningfully, and feel rewarded for their contribution.
          {% endtrans %}
        </p>
    </section>

    <h3 class="teams-heading">{{ _('Our Teams') }}</h3>
    <div class="teams-top-row">
      <section class="automation-section">
        <h4 class="automation-heading">
	  <a href="https://quality.mozilla.org/teams/automation/">{{ _('Automation') }}</a>
	</h4>
	<p>
          {% trans %}
            We build automated tests to run against Mozilla websites to make sure they are working as expected.
          {% endtrans %}
        </p>
      </section>
      <section class="desktopqa-section">
        <h4 class="desktopqa-heading">
	  <a href="https://quality.mozilla.org/teams/desktop-firefox/">{{ _('Desktop QA') }}</a>
	</h4>
        <p>
          {% trans %}
            We test Desktop Firefox for new features and resolved issues before release.
          {% endtrans %}
        </p>
      </section>
      <section class="webqa-section">
        <h4 class="webqa-heading">
	  <a href="https://quality.mozilla.org/teams/web-qa/">{{ _('Web QA') }}</a>
	</h4>
        <p>
          {% trans %}
            We ensure that all Mozilla websites are high quality, secure, and user friendly.
          {% endtrans %}
        </p>
      </section>
    </div>

    <div class="teams-bottom-row">
      <section class="thunderbird-section">
        <h4 class="thunderbird-heading">
	  <a href="https://quality.mozilla.org/teams/thunderbird/">Thunderbird</a>
	</h4>
        <p>
          {% trans %}
            We test the Thunderbird mail client for resolved issues before release.
          {% endtrans %}
        </p>
      </section>
      <section class="servicesqa-section">
        <h4 class="servicesqa-heading">
	  <a href="https://quality.mozilla.org/teams/services/">{{ _('Services QA') }}</a>
	</h4>
        <p>
          {% trans %}
            We test Mozilla's private and secure user-controlled services for Firefox, desktop and mobile.
          {% endtrans %}
        </p>
      </section>
      <section class="mobilefx-section">
        <h4 class="mobilefx-heading">
	  <a href="https://quality.mozilla.org/teams/mobile/">{{ _('Mobile Firefox') }}</a>
	</h4>
        <p>
          {% trans %}
            We test Firefox for Android and Firefox OS, a new mobile operating system.
          {% endtrans %}
        </p>
      </section>
    </div>
  </main>
  {% endblock %}
