{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. #}


{% macro arrows(request, page_obj, paginator, is_paginated=True) %}
    {% if is_paginated and page_obj.has_other_pages() %}
        <div class="pagination">
          <a href="{{ page_url(request, paginator.page_range[0]) }}" class="pagination-first">
            <span class="visually-hidden">{{ _('Go to first page') }}</span>
          </a>

          {% if page_obj.has_previous() %}
              <a href="{{ page_url(request, page_obj.previous_page_number()) }}" class="pagination-previous">
                <span class="visually-hidden">{{ _('Go to previous page') }}</span>
              </a>
          {% endif %}

          <span>
            {% trans current_page=page_obj.number, total_pages=paginator.num_pages %}
              {{ current_page }} of {{ total_pages }}
            {% endtrans %}
          </span>

          {% if page_obj.has_next() %}
              <a href="{{ page_url(request, page_obj.next_page_number()) }}" class="pagination-next">
                <span class="visually-hidden">{{ _('Go to next page') }}</span>
              </a>
          {% endif %}

          <a href="{{ page_url(request, paginator.page_range[-1]) }}" class="pagination-last">
            <span class="visually-hidden">{{ _('Go to last page') }}</span>
          </a>
    {% endif %}
{% endmacro %}
