{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. #}
{% extends 'base/base.html' %}

{% set title = _('Login required') %}

{% block content %}
  <main class="billboard content-container">
    <h1>{{ _('Please sign in') }}</h1>
    <p>
      {% trans %}
        In order to claim tasks on One and Done, you must first sign in using <a href="{{ persona_url }}">Persona</a> and create an account. This way, you can let us know that you're working on a task, and mark a task as completed once you've finished it.
      {% endtrans %}
    </p>
    <p class="auth-menu">
      {{ browserid_login(text=_('Log in or Register'), next=request.GET.get('next'), color='blue') }}
    </p>
  </main>
{% endblock %}
