<section>
  <h3>
    {% if not page == 'ProfileDetails' %}
      {{ _("{name}'s Dashboard")|fe(name=user.profile.name) }}
    {% else %}
      {{ _('Dashboard') }}
    {% endif %}
  </h3>

  <section class="task-status">
    {% if user.attempts_in_progress %}
      <h4>{{ _('Tasks in progress') }}</h4>
      <ul>
        {% for attempt in user.attempts_in_progress %}
          <li><a id="task-in-progress" href="{{ attempt.task.get_absolute_url() }}">{{ attempt.task.name }}</a></li>
        {% endfor %}
      </ul>
    {% else %}
      {{ _('No tasks in progress.') }}
    {% endif %}

  </section>

  {% if not page == 'ProfileDetails' %}
      <nav class="actions-container">
        <a href="{{ url('tasks.available') }}" class="button" id="pick-a-task">{{ _('Pick a task to do') }}</a>
      </nav>
  {% endif %}
</section>
