{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. #}
{% extends 'base/base.html' %}

{% block body_class %}{{ super() }} home{% endblock %}

{% block content %}
  <section class="home-header">
    <h4>{{ _('One and Done will be retired on October 31, 2016. ') }}</h4>
    <p>
      {% trans %}
           The decision has been made to retire the One and Done project on October 31, 2016. All user and task data will be deleted.

          We thank the many contributors who participated over the years. Your work lives on, even as this site is closed!
          If you would like to continue contributing, we recommend starting with <a href="http://whatcanidoformozilla.org/#!/progornoprog/proglang"> What Can I Do for Mozilla?</a>
      {% endtrans %}
    </p>
  <p>
    {% include 'base/recent_users.html' %}
  </p>
    <p class="auth-menu">
      {% if not user.is_authenticated() %}
        <a href="http://127.0.0.1:8000/accounts/fxa/login/?process=login"> Sign in with Firefox Accounts</a> or 
        {{ browserid_login(text=_('Sign in with Mozilla Persona'), color='blue') }}
      {% endif %}
    </p>
  </section>

  <main class="main">
    {% if user.is_authenticated() %}
      <div class="billboard">
        {% include 'base/dashboard.html' %}
      </div>
      {% include 'tasks/task_list_filters.html' %}
    {% endif %}
    {% include 'tasks/task_listing.html' %}
  </main>

  {% endblock %}
