{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. #}
{% extends 'base/base.html' %}

{% set title = _('User profile for {username}')|f(username=user.profile.name) %}

{% block content %}
<main class="billboard content-container">
  <img src="{{ static('img/qa-logo.png') }}" width="110" height="110" alt="{{ _('Mozilla WebQA Logo') }}" class="mozqa-logo" />
  <h1>{{ user.profile.name }}</h1>

  <nav class="profile-navigation">
    <ul>
      <li><a href="{{ url('users.profile.update') }}" class="button">{{ _('Edit profile') }}</a></li>
      <li><a href="{{ url('tasks.available') }}" class="button">{{ _('Pick a task to do') }}</a></li>
    </ul>
  </nav>

  <section class="task-status">
    <h3>{{ _('Tasks completed') }}</h3>
    <ul>
      <li>{{ ngettext('{count} task', '{count} tasks', user.attempts_finished)|f(count=user.attempts_finished) }}</li>
    </ul>

  {% if attempts_in_progress %}
    <h3>{{ _('Tasks in progress') }}</h3>
    <ul>
    {% for attempt in attempts_in_progress %}
      <li><a href="{{ attempt.task.get_absolute_url() }}">{{ attempt.task.name }}</a></li>
    {% endfor %}
    </ul>
  {% endif %}
  </section>
</main>
{% endblock %}
