{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. #}
{% extends 'base/base.html' %}

{% set title = _('User profile for {username}')|f(username=user.profile.name) %}

{% block content %}
<h1>{{ _("{name}'s Profile")|fe(name=user.profile.name) }}</h1>

 {% include 'base/dashboard.html' %}

<main class="billboard content-container">

  <section class="task-status">

    <h4>{{ ngettext('{count} task completed', '{count} tasks completed', attempts_finished)|f(count=user.attempts_finished_count) }}</h4>
    <ul>
      {% for attempt in attempts_finished %}
        <li><a href="{{ attempt.task.get_absolute_url() }}">{{ attempt.task.name }}</a></li>
      {% endfor %}
    </ul>

    {% import 'base/pagination.html' as pagination %}
    {{ pagination.arrows(request, attempts_finished, attempts_finished.paginator) }}

  </section>

  <div class="actions-container">
    <a href="{{ url('users.profile.update') }}" id="edit-profile" class="button">{{ _('Edit profile') }}</a>
  </div>

</main>
{% endblock %}
