{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. #}
{% extends 'base/base.html' %}

{% block content %}
  <h1>{{ user.profile.name }}</h1>
  <dl>
    <dt>{{ _('Tasks completed') }}</dt>
    <dd>{{ ngettext('{count} task', '{count} tasks', user.attempts_finished)|f(count=user.attempts_finished) }}</dd>

    {% if attempts_in_progress %}
      <dt>{{ _('Tasks in progress') }}</dt>
      <dd>
        <ul>
          {% for attempt in attempts_in_progress %}
            <a href="{{ attempt.task.get_absolute_url() }}">{{ attempt.task.name }}</a>
          {% endfor %}
        </ul>
      </dd>
    {% endif %}
  </dl>
  <a href="{{ url('users.profile.update') }}">{{ _('Edit profile') }}</a><br>
  <a href="{{ url('tasks.available') }}">{{ _('Pick a task to do') }}</a>
{% endblock %}
