{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. #}
{% extends 'base/base.html' %}

{% set title = _('User profile') %}

{% block content %}
<main class="billboard content-container">
  <h1>{{ _('Profile') }}</h1>
  <form method="post" class="edit-profile">
    {{ csrf() }}
    {{ form.name.errors }}
    <p>
    {{ form.name.label }}
    {{ form.name }}
    </p>
    {{ form.username.errors }}
    <p>
    {{ form.username.label }}
     https://oneanddone.mozilla.org/profile/
    {{ form.username }}
    </p>
    {% if form.privacy_policy_accepted %}
    <p class="billboard content-container">
    {{form.privacy_policy_accepted.label}}
    </p>
    {{form.privacy_policy_accepted.errors}}
    <p>
    {{form.privacy_policy_accepted}}
    {{_("* I'm okay with you handling this info as you explain in <a href='https://www.mozilla.org/en-US/privacy/websites/' target='_blank'>Mozilla's Privacy Policy</a>.")}}
    </p>
    {% endif %}
    <div class="actions-container">
    {% if action == 'Update' %}
        {% if form.privacy_policy_accepted %}
            <a href="{{ url('users.profile.delete') }}" id="delete-profile" class="button">{{ _('I Disagree, Delete Profile') }}</a>
        {% else %}
            <a href="{{ url('users.profile.delete') }}" id="delete-profile" class="button">{{ _('Delete Profile') }}</a>
        {% endif %}
    {% endif %}
      <button type="submit" class="button">{{ _('Save') }}</button>
    </div>
  </form>
 </main>
{% endblock %}
