{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. #}
{% extends 'base/base.html' %}

{% from 'tasks/macros.html' import communication_list %}

{% set title = taskattempt.task.name %}

{% block content %}
<main class="billboard content-container task-detail">
  <h1>
    {{ _('User attempt for Task: ') }}
    <a href="{{ taskattempt.task.get_absolute_url() }}">
       {{ taskattempt.task.name }}
    </a>
  </h1>
  {% if taskattempt.task.imported_item %}
    <div class="row">
      <div>
        {{ _('Summary of Bug') }} {{ taskattempt.task.imported_item.bugzilla_id }}:
        <span class="bug-summary">{{ taskattempt.task.imported_item.summary }}</span>
      </div>
    </div>
  {% endif %}
  <div class="row">
    <div>{{ taskattempt.task.short_description }}</div>
  </div>
  <div class="row">
    <div class="markdown how-to-verify">
      <div>{{ _('How to verify:') }}</div>
      {{ taskattempt.task.verification_instructions_html }}
    </div>
  </div>
  <div class="row">
    <div>
      <h2>{{ _('Verification History') }}</h2>
      {% if not taskattempt.needs_verification %}
        <div class="latest-communication">{{ _('The task has been verified!') }}</div>
      {% endif %}
      {{ communication_list(taskattempt.communication_set.all()) }}
    </div>
  </div>

  {% if taskattempt.needs_verification %}
    <div class="row">
      <div>
        <h2>{{ _('Submit Feedback') }}</h2>
        <div>
          {{ _('If the task has not been completed to your satisfaction, please submit a comment to
              the user explaining what further information they need to provide
              to complete verification.') }}
        </div>
        {% include 'tasks/submit_admin_verification_response_form.html' %}
      </div>
    </div>

    <div class="row">
      <div>
        <h2>{{ _('Verify Task') }}</h2>
        <div>
          {{ _('If the task has been completed to your satisfaction, click the Verify this task as completed button.') }}
        </div>
        <div class="actions-container">
          <form method="post" action="{{ url('tasks.verify', taskattempt.id) }}">
            {% csrf_token %}
            <button type="submit" title="{{ _('Verify task as completed') }}" class="button" id="verify-task">{{ _('Verify this task as completed') }}</button>
          </form>
        </div>
      </div>
    </div>
  {% endif %}

</main>
{% endblock %}
