{% set formset = criterion_formset %}
{% set max_forms = 10 %}
  {{ formset.management_form }}

<table id="criterion_formset_table">
  <tr class="field required">
    <th >{{ formset.empty_form.criterion.label_tag() }}</th>
    <th></th>
  </tr>
{% for form in formset %}
    <tr {% if not loop.first %}class="extra-criterion"{% endif %}>
        <td>{{ form.criterion.errors }}{{ form.criterion }}</td>
        <td>
          {% if not loop.first %}
            <span class="action-link"
                  role="button"
                  id={{ "del_criterion-" ~ loop.index }}>
              {{_('Remove')}}
            </span>
          {% endif %}
        </td>
    </tr>
{% endfor %}
</table>
<div class="actions-container">
  <div style="display:none">
    <table><tbody id="empty_criterion_form">
      <tr class="extra-criterion" >
        <td>{{ formset.empty_form.criterion.errors }}{{ formset.empty_form.criterion }}</td>
        <td>
          <span class="action-link" role="button" id="del_criterion-__prefix__">
            {{_('Remove')}}
          </span>
        </td>
      </tr>
    </tbody></table>
  </div>
  <span id="criterion_error_message" class="errorlist" style="display:none">{{_('A batch of tasks may have at most {max_forms} invalidation criteria.')|fe(max_forms=max_forms)}}</span>
  <span class="action-link" role="button" id="add_criterion">
    {{_('Add Criterion')}}
  </span>
</div>

