{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. #}
{% extends 'base/iframe.html' %}

{% set title = _('Tasks') %}

{% block content %}

<div>
<h3>{{ _('One and Done Tasks') }}</h3>
<ol>
  {% for task in random_task_list %}
    <li>
      <a href="{{ task.get_absolute_url() }}">{{ task.name }}</a> -
      {{ task.short_description }}
    </li>
  {% endfor %}
</ol>

</div>
{% endblock %}
