  <div class="task-list-container">
    <h3>
      {{ task_list_heading }}
      {% if request.GET.get('keyword', '') %}
        {% trans keyword=request.GET['keyword'] %}
          for keyword: {{ keyword }}
        {% endtrans %}
      {% endif %}
    </h3>
    {% if tasks %}
      <ol class="task-list">
        {% for task in tasks %}
          <li>
            <p>
              <a class="task-name" href="{{ task.get_absolute_url() }}">{{ task.name }}</a>
              {% if user.is_staff %}
                | <a class="edit-task" href="{{ task.get_edit_url() }}">{{ _('Edit') }}</a>
              {% endif %}
            </p>
            <p class="task-desc">{{ task.short_description }}</p>
          </li>
        {% endfor %}
      </ol>

      {% import 'base/pagination.html' as pagination %}
      {{ pagination.arrows(request, page_obj, paginator, is_paginated) }}
    {% else %}
      <p>{{ _('Sorry no results found, try another search.') }}</p>
    {% endif %}
  </div>
