{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. #}

{% extends 'base/base.html' %}

{% from 'tasks/macros.html' import form_field %}

{% block site_css %}
  {{ super() }}
  {{ form.media['css'] }}
{% endblock %}

{% block site_js %}
  {{ super() }}
  {{ form.media['js'] }}
{% endblock %}

{% set title = _('Edit Team') %}

{% block content %}
<main class="billboard content-container">

  <h4>{{ _('Edit Team') }}</h4>
  {{ form.non_field_errors() }}

  <form method="post" class="edit-profile">
    {% csrf_token %}
    {{ form_field(form['name']) }}
    {{ form_field(form['url_code'], help_text=True) }}
    {{ form_field(form['description']) }}

    <div class="actions-container">
      <div class="without-message">
        <a href="{{ cancel_url }}" class="button" id="cancel">{{ _('Cancel') }}</a>
      </div>
       <button type="submit" class="button">
          {{ _('{action} Team')|fe(action=action) }}
        </button>
    </div>
  </form>
</main>
{% endblock %}
