{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. #}
{% extends 'base/base.html' %}

{% from 'tasks/macros.html' import communication_list %}

{% set title = _('Task Attempts Awaiting Verification') %}

{% block content %}
<main class="billboard task-activity-container content-container">
  <h1>{{ _('Task Attempts Awaiting Verification') }}</h1>

  {% if attempts %}
    <table class="table activity-listing">
      <thead>
        <tr>
          <th class="toggle"></th>
          <th>{{ _('Submission Date') }}</th>
          <th>{{ _('Task') }}</th>
          <th>{{ _('User') }}</th>
        </tr>
      </thead>
      <tbody>
        {% for attempt in attempts %}
          <tr class="activity-item">
            <td class="toggle"></td>
            <td>{{ attempt.modified.strftime('%c') }}</td>
            <td class="task-name"><a href="{{ attempt.task.get_absolute_url() }}">{{ attempt.task.name }}</a></td>
            <td>{{ attempt.user }}</td>
          </tr>
          <tr class="activty-detail">
            <td></td>
            <td colspan="3" class="task-info">
              <div class="markdown">
                {{ _('How to verify:') }}
                {{ attempt.task.verification_instructions_html }}
              </div>
              {{ communication_list(attempt.communication_set.all()) }}
              <div class="actions-container">
                <a href="{{ attempt.get_absolute_url() }}">
                  <button class="button" id="attempt-feedback">{{ _('Provide feedback to the user') }}</button>
                </a>
                <form method="post" action="{{ url('tasks.verify', attempt.id) }}">
                  {% csrf_token %}
                  <button type="submit" title="{{ _('Verify task as completed') }}" class="button" id="verify-task">{{ _('Verify this task as completed') }}</button>
                </form>
              </div>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% import 'base/pagination.html' as pagination %}
    {{ pagination.arrows(request, page_obj, paginator, is_paginated) }}
  {% else %}
    <p>{{ _('No attempts are awaiting verification!') }}</p>
  {% endif %}
</main>
{% endblock %}
