{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. #}
{% extends 'base/base.html' %}

{% set title = _('Delete profile') %}

{% block content %}
<main class="billboard content-container">
<h1>{{_('Are you sure you want to delete your profile ?')}}</h1>
  <form method="post" class="edit-profile">
    {% csrf_token %}
    <p>{{_('Deleting your profile will delete all your personal data and your task data.')}}</p>
    <div class="actions-container">
        <a href="{{ url('base.home') }}" id="cancel-button" class="button">{{ _('Cancel') }}</a>
      <button type="submit" id="confirm-button" class="button">{{ _('Confirm') }}</button>
    </div>
  </form>
 </main>
{% endblock %}
