@import "sandstone/lib.less";
@import "mixins.less";

/* apply a natural box layout model to all elements */
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

h2 {
    font-weight: bold;
}
main {
    position: relative;
    h1 {
        margin-bottom: 20px;
    }
}
aside {
    background-color: rgba(130, 0, 0, .8);
    color: #fff;
    display: inline-block;
    margin: 2rem 5%;
    width: 90%;
    padding: 1rem 4.5%;
    .border-box();
    .border-radius(6px);
    h3 {
        color: #fff;
        font-size: 32px;
        text-shadow: none;
    }
    p {
        font-size: .9rem;
        text-align: center;
        letter-spacing: .3px;
    }
}
/* Forms */
legend {
    font-size: 1.2rem;
}
label {
    display: block;
}
footer {
    clear: left;
}
.auth-menu {
    margin-right: 2%;
    text-align: right;
    a {
        color: #fff;
    }
}
/* Feedback */
.feedback {
    h4 {
        margin: 2rem 0;
    }
}
.feedback-form {
    width: 90%;
    text-align: right;
    label:first-child {
        .visually-hidden;
    }
    textarea {
        width: 100%;
    }
    .no-feedback {
        margin-right: 1rem;
    }
}
.home #colophon {
    margin-top: 4em;
}
.sub-header {
    position: relative;
    /* Fallback for browser that does not suport rgba. */
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px 12% 5px 12%;
}
.mozqa-logo {
    position: absolute;
    top: 20%;
    left: -55px;
}
.main {
    h3 {
        text-align: center;
        font-size: 1.6rem;
    }
}
.main-top-row {
    h3 {
        color: #820000;
    }
}
.main-bottom-row {
    clear: both;
    padding-top: 2rem;
    h3 {
        color: #608fbf;
    }
}
.profile-navigation {
    position: absolute;
    bottom: 5%;
    left: 1%;
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
            display: inline;
            margin-left: 5px;
        }
    }
}
.content-container {
    /* Fallback for browser that does not suport rgba. */
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.5);
    margin-top: 2%;
    padding: 20px 0 20px 7%;
}
/* TASKS */
.filters {
    margin-left: 1px;
}
.edit-profile {
    margin: 3%;
    input[type="text"] {
        width: 25%;
    }
}
.task-status {
    margin: 0 5% 5%;
}
.task-filters,
.task-list-container {
    .span(5);
}
.task-list {
    h4 {
        margin-bottom: 6px;
        font-size: 1.4rem;
    }
    li {
        margin-bottom: 18px;
        p {
            margin-bottom: 0;
        }
    }
}
.task-filters {
    margin-left: 3%;
}
.automation-section,
.desktopqa-section,
.webqa-section,
.thunderbird-section,
.servicesqa-section,
.mobilefx-section {
    .span(4);
}
/* Icon Headings */
.automation-heading {
    background: transparent url(../icons/automation.png) 50% 0 no-repeat;
    padding-top: 140px;
}
.desktopqa-heading {
    background: transparent url(../icons/desktopqa.png) 50% 0 no-repeat;
    padding-top: 140px;
}
.webqa-heading {
    background: transparent url(../icons/webqa.png) 50% 0 no-repeat;
    padding-top: 140px;
}
.thunderbird-heading {
    background: transparent url(../icons/thunderbird.png) 50% 0 no-repeat;
    padding-top: 140px;
}
.servicesqa-heading {
    background: transparent url(../icons/servicesqa.png) 50% 0 no-repeat;
    padding-top: 140px;
}
.mobilefx-heading {
    background: transparent url(../icons/mobilefx.png) 50% 0 no-repeat;
    padding-top: 140px;
}

#masthead nav li.auth-menu {
    text-transform: none;

    a {
        padding: 0;
    }

    .persona-button {
        color: #FFFFFF;
        margin-bottom: -7px;
    }
}
/*http://developer.yahoo.com/blogs/ydn/posts/2012/10/clip-your-hidden-content-for-better-accessibility/*/
.visually-hidden {
    position: absolute;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding:0;
    border:0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
