/* slider style */

.range-container {
    width: 250px;
}

.range-row > input[type=range] {
    width: 80%;
    margin: 0;
    padding: 0;
}

.range-row > .range-value {
    width: 20%;
}

.steps {
    color: #A9A9A9;
    font-size: 0.8em;
    width: 79%;
    margin: 10px 0 0;
    padding: 0 0 10px 0;
    position: relative;
}

.steps span {
    position: absolute;
    text-align: center;
    margin-left: -4px;
}

.steps span:first-child {
    text-align: left;
}

.steps span:last-child {
    text-align: right;
}
